@charset "uts-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --primary-color:  #000000;
    --secondary-color: #ffffff;
}
.dark-theme {
    --primary-color: #fff; 
    --secondary-color: #161616;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #161616;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.toggle {
    display: none;
}
#main {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    position: relative;
    background-image: url(/assets/images/wilson.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right bottom;
    overflow: hidden;
}
span {
    color: #17d1ac;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 650;
    letter-spacing: 2px;
    font-family: poppins;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #FFFFFF;
    z-index: 1;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    display: inline-block;
}
#icon {
    width: 25px;
    cursor: pointer;
}
.menu {
    display: flex;
}
.menu li a {
    padding: 10px 15px;
    color: #010101;
    font-size: 12px;
}
.logo {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    font-family: Poppins;
}
/* Reset default list styles */
ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the menu items */
  ul.menu li {
    display: inline-block;
    position: relative; /* Needed to position the pseudo-element */
    margin-right: 20px; /* Add spacing between menu items */
  }
  
  /* Style the menu links */
  ul.menu li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    transition: border-bottom 0.3s; /* Add smooth transition to the bottom line */
  }
  
  /* Add the bottom line as a pseudo-element when hovering */
  ul.menu li a::after {
    content: "";
    display: block;
    width: 0; /* Start with a width of 0 */
    height: 2px; /* Set the height of the bottom line */
    background-color: #17d1ac; /* Change this color to your desired hover color */
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s; /* Add smooth transition to the line width */
  }
  
  /* Expand the bottom line width on hover */
  ul.menu li a:hover::after {
    width: 100%; /* Set the width to 100% on hover to expand the line */
    
}

.name {
    font-family: Poppins;
    width: 500px;
    position: absolute;
    left: 21%;
    top: 50%;
    transform: translate(-20%,-50%);
    color: var(--secondary-color);
    
}
.name h2 {
    color: var(--secondary-color);
    font-size: px;
    font-weight: bolder;
    letter-spacing: 5px;
    text-transform: uppercase;

}
.name .details {
    color: var(--secondary-color);
    font-size: 15px;
}
.name h1 {
    font-family: Poppins;
    font-size: 50px;
    margin: 0px;
    letter-spacing: 3px;
}
.social {
    position: absolute;
    left: 164px;
    bottom: 50px;
    display: flex;
}
.social a {
    margin: 6px 12px;
}
.social i {
    color: var(--secondary-color);
    font-size: 20px;
}
.social a:hover i {
    color: #17d1ac;

}
/*-------about-------*/
#about {
    width: 100%;
    padding: 100px 0px;
    background-color: var(--primary-color);
}
.image {
    padding-top: 60px;
    height: auto;
    width: 430px;
    transition: all ease 0.5s;
}
.image:hover {
    transform: scale(1.1);
}
.about-text {
    padding-top: 60px;
    width: 550px;
    font-family: Poppins;
    color: var(--secondary-color);
}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.about-text h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 25px;
}

.about-text p {
    font-size: 1rem;
    color: var(--secondary-color);
    line-height: 28px;
    margin-bottom: 45px;
}
button {
    font-style: Poppins;
    background-color: #42faeb;
    color: var(--primary-color);
    width: 150px;
    height: 40px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
button:hover {
    background-color: #42faeb;
    color: var(--secondary-color);
    width: 150px;
    height: 40px;
}
#services {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.s-heading h1 {
    color: var(--secondary-color);
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Poppins;
    letter-spacing: 5px;
    border-bottom: 2px solid #17d1ac;
    padding-bottom: 5px;
}
.s-heading {
    text-align: center;
    margin: 20px 0px;
}
.s-box {
    background-color: #2b2b2b;
    width: 300px;
    height: 450px;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: 2px 2px 12px rbga(0,0,0,0.1);
    position: relative;
}
.s-b-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-b-img {
    width: 100%;
    height: 70%;
}
#pic {
    transition: transform .5s;
}
#pic:hover {
    transform: scale(1.1);
}
.s-b-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.s-b-text {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-b-text a {
    margin: 0px;
    color: rgba(255,255,255,0.50);
    font-size: 0.9rem;
    font-family: Poppins;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.s-type {
    font-family: Poppins;
    color: #ffffff;
    background-color: #4e4e4eaf;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 600;
    border-radius: 0px 0px 10px 10px;
}
.s-b-text a:hover {
    color: #FFFFFF;
}
#contact-btn h1 {
    font-size: 2rem;
    color: #ffffff;
    font-family: Poppins;
    margin: 10px;
    padding: 5px;
    letter-spacing: 4px;
    border-bottom: 2px solid #ffffff;
}
#contact-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #3f3f3f;
    margin: 20px 0px;
    box-sizing: border-box;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.4);
}
#contact-btn a {
    color: var(--secondary-color);
    font-size: 1rem;
    font-family: Poppins;
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: var(--primary-color);
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-btn a:hover {
    background-color: #17d1ac;
    color: #000000;
    transition: all ease 0.5s;
    font-weight: 700;
}
#experience {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins;
    background-color: var(--primary-color);
    padding-top: 80px;
}
.e-heading h1 {
    font-size: 2rem;
    color: var(--secondary-color);
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Poppins;
    letter-spacing: 5px;
    border-bottom: 2px solid #17d1ac;
}
.e-text h2, h3 {
    color: var(--secondary-color);
}
.e-heading p {
    color: var(--secondary-color);
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
.e-heading {
    text-align: center;
    margin: 20px 0px;
}
.e-box {
    width: 500px;
    height: 500px;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: 2px 2px 12px rbga(0,0,0,0.1);
    position: relative;
}
.e-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.e-text p {
    color: var(--secondary-color)
}
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

/* Base styles for all screen sizes */

/* Add your base styles here */

/* Media queries for different screen sizes */

/* Medium-sized screens (max-width: 1190px) */
@media (max-width: 1190px) {
    /* Adjust the styles as needed for medium-sized screens */
    #main {
      background-image: none !important;
    }
  
    .name {
      left: 10%;
      top: 50%;
      transform: translate(-10%, -50%);
    }
  
    .social {
      left: 4%;
    }
  
    .about-text {
      padding-left: 5%;
    }
  
    .image {
      height: 400px;
    }
  
    #services {
      height: auto;
    }
  
    .s-b-container {
      flex-wrap: wrap;
    }
  
    .s-box {
      flex-grow: 1;
    }
  
    .s-b-text {
      text-align: center;
    }
  
    #experience {
      height: auto;
    }
  
    .e-container {
      flex-wrap: wrap;
    }
  
    .e-box {
      flex-grow: 1;
    }
  
    .e-text {
      text-align: center;
    }
  }
  
  /* Small-sized screens (max-width: 999px) */
  @media (max-width: 999px) {
    /* Adjust the styles as needed for small-sized screens */
    #main {
      background-image: none !important;
    }
  
    .social {
      left: 4%;
    }
  
    .image {
      height: 400px;
      width: 430px;
    }
  
    #about {
      justify-content: center;
      padding-top: 10px;
    }
  
    .about-text {
      width: 90%;
      padding-left: 20px;
    }
  
    .about-text h1 {
      font-size: 4rem;
    }
  }
  
  /* Extra small-sized screens (max-width: 800px) */
  @media (max-width: 800px) {
    /* Adjust the styles as needed for extra small-sized screens */
    #main {
      background-image: none !important;
    }
  
    .name {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  
    .image {
      display: none;
    }
  
    #about {
      justify-content: center;
      padding-top: 0px;
    }
  
    .about-text {
      width: 90%;
    }
  
    .about-text h1 {
      font-size: 3rem;
    }
  }
  
  /* Extra extra small-sized screens (max-width: 600px) */
  @media (max-width: 600px) {
    /* Adjust the styles as needed for extra extra small-sized screens */
    .toggle {
        display: block;
      }
    
      .toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 0px;
        margin-left: -30px;
      }
    
      /* Initially hide the menu */
      .toggle + menu{
        display: none;
      }
    
      .toggle.active:before {
        content: '\f00d';
      }
    
      /* Show the menu when the toggle is clicked */
      .toggle.active + nav ul {
        display: block;
      }
  
    #icon {
      width: 20px;
    }
  
    nav {
      padding: 10px 30px;
    }
  
    nav ul {
      position: absolute;
      height: auto;
      box-sizing: border-box;
      top: 100%;
      transition: 0.5s;
      overflow: hidden;
      display: none;
      margin: 0;
      padding: 0;
    }
  
    nav ul li a {
      width: 100%;
      height: 50px;
      display: block;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  
    .active-menu {
      display: block;
    }
  
    .main {
      background-image: none !important;
    }
  
    .name {
      width: 90%;
    }
  
    #about {
      width: auto;
      left: 4%;
    }
  
    .about-text {
      font-size: 1px;
    }
  
    #experience {
      width: auto;
    }
  
    .e-container {
      width: 90%;
    }
  
    #contact-btn h1 {
      font-size: 1.4rem;
      text-align: center;
    }
  
    #contact-form {
      padding: 20px;
      height: auto;
      box-sizing: border-box;
    }
  }
  

